.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  hr {
    border: 0;
    clear:both;
    display:block;
    width:900px;               
    background-color:white;
    height: 2px;
  }